/* body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}

form {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

 */

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

#list-container {
  width: 100%;
  text-align: center;
}

td.name-column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.name-text {
  padding-right: 30px; /* Внутренний отступ справа */
  border-right: 1px solid rgba(47, 47, 47, 0.1); /* Граница справа */
  margin-right: 30px; /* Внешний отступ справа */
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: inline-block;
}

label {
  margin-right: 10px;
}

input {
  outline: none;
  margin-right: 5px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(47, 47, 47, 0.1);
  color: rgba(47, 47, 47, 0.6);
  background-color: rgba(255, 255, 255, 1);
}

input:hover {
  border: 1px solid rgba(47, 47, 47, 0.2);
  cursor: pointer;
}

button {
  width: 200px;
  background-color: deeppink;
  color: white;
  padding: 15px 12px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button-second {
  width: 200px;
  background-color: rgba(186, 69, 69, 1);
  color: white;
  padding: 15px 12px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0099cc;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

#popup-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: auto;
}

.popup-message {
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  animation: fadeInOut 3s ease-in-out;
}

.popup-message.error {
  color: rgba(186, 69, 69, 1);
  border-color: rgba(186, 69, 69, 1);
}

.popup-message.success {
  color: rgba(47, 47, 47, 0.7);
  border-color: rgba(69, 186, 120, 1);
}

button.absent-button {
  width: auto;
  background-color: white;
  color: rgba(186, 69, 69, 1);
  padding: 15px 12px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

button.absent-button:hover {
  background-color: rgba(186, 69, 69, 0.2);
}

button.good-button {
  width: auto;
  background-color: white;
  color: rgba(47, 47, 47, 0.7);
  padding: 15px 12px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

button.good-button:hover {
  background-color: rgba(69, 186, 120, 0.2);
}

button.reset-button {
  background-color: white;
  color: rgba(47, 47, 47, 0.7);
  border: 1px solid rgba(47, 47, 47, 0.1);
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 10px;
}

button.reset-button:hover {
  background-color: rgba(47, 47, 47, 0.1);
}
